{% extends 'base.html' %}

{% block title %}

    Cooking

{%  endblock %}

{% block content %}
<h1>
    Welcome to Cooking Community!
</h1>

<h2>
    Get Meal Recipe Below
</h2>

<form action="/cooking" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<h2>
    Get A Random Meal Recipe
</h2>
<button onclick="location.href = '/apis/getrandommealrecipe'">Get!</button><br/><br/><br/>

<button onclick="location.href = '/'">return home</button>

{%  endblock %}