{% extends 'base.html' %}

{% block title %}

    Home 

{%  endblock %}

{% block content %}
<h1>
    Welcome to Home Page
</h1>
<h2>
    Navigate below
</h2><br/>
<h3>
    User
</h3>
<button onclick="location.href = '/registeruser'">Register</button>
<form method="GET" action="apis/searchuser">
    <input type="text" name="user_name" placeholder="Username" required>
    <button type="submit">Search User</button>
</form>
<h3>
    Communities
</h3>
<button onclick="location.href = '/economy'">Economy</button>
<button onclick="location.href = '/literature'">Literature</button>
<button onclick="location.href = '/cooking'">Cooking</button><br/><br/>

<h3>
    Events
</h3>
<button onclick="location.href = '/apis/create-event'">Create Event</button><br/>
<button onclick="location.href = '/distance'">Find Event Distance</button><br/><br/><br/><br/>

<h4>
    Select your Country:
</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{%  endblock %}