label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.btn-sec {

  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: #9155A7;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-sec:hover {
  background: transparent;
  color: var(--darkShadow);
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
:root {
  --primaryColor: #0ca1fe ;
  --mainWhite: #fff;
  --offWhite: #ffffff;
  --mainBlack: #222;
  --mainGrey: #a39d9d;
  --darkGrey: #999595;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* Navbar */
.navbar {
  position: relative;
  top: 0rem;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  margin-left: 6rem;
  background: transparent;
  border: none;
  cursor: auto;
  outline: auto;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  margin-top: 0rem;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  background: #6DCCA3;
  text-align: center;
}
.nav-links a {
  display:  -moz-stack;
  text-decoration: none;
  padding: 0.1rem;
  color: #151425;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Avenir;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: #ce72e3;
}

.show-nav {
  height: 155px;
}
@media screen and (min-width: 822px) {
  .nav-btn {
    display: none;

  }
  .nav-center {

    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    margin-top: 2.5rem;
    height: fit-content;
    display: flex;
    margin-left: 3rem;
    background: white;
    text-align: justify-all;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */